.toolbar-container {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  background-color: gray !important;

  .toolbar {
    width: 75rem;

    .title {
      flex-grow: 1;
    }
  }
}

