.main-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90rem;
    height: 100%;

    .home-page-image {
      margin-top: 1rem;
    }
  }
}